<div class="hero-unit">
  <input type="text" ng-model="selectedUser" placeholder="Twitter handle"/>
  <input type="number" ng-model="numberOfTweets" placeholder="Max # of tweets" />
  <input type="number" ng-model="minRetweets" placeholder="Min # of retweets" />
  <input type="date" ng-model="startDateFilter" placeholder="Start date" />
  <input type="date" ng-model="endDateFilter" placeholder="End date" />
  <span>
  <label for="filterPictures" style="display: inline;">Only posts with pictures</label>
  <input id="filterPictures" type="checkbox" ng-model="picturesFilter" />
  </span>
  <input type="button" value="Search" ng-disabled="selectedUser == ''" ng-click="fetchUserInfo()" />
  
  <p ng-show="selectedUserProfile">
    <span style="display: inline;">{{reputationScore.reputation_score}}pts</span>
  	<span>{{selectedUserProfile.name}} {{selectedUserProfile.location}} {{selectedUserProfile.created_at}}</span>
  </p>
  <span ng-show="selectedUserTweets.length > 0">Tweets</span>
  <p ng-repeat="tweet in selectedUserTweets">
  	<span>{{tweet.text}} {{tweet.created_at}}</span>
  </p>
</div>
