<div class="hero-unit">
  <input type="text" ng-model="selectedUser" placeholder="Twitter handle"/>
  <input type="number" ng-model="numberOfTweets" placeholder="Max # of tweets" />
  <input type="number" ng-model="minRetweets" placeholder="Min # of retweets" />
  <input type="date" ng-model="startDateFilter" placeholder="Start date" />
  <input type="date" ng-model="endDateFilter" placeholder="End date" />
  <span>
  <label for="filterPictures" style="display: inline;">Only posts with pictures</label>
  <input id="filterPictures" type="checkbox" ng-model="picturesFilter" />
  </span>
  <input type="button" value="Search" ng-disabled="selectedUser == ''" ng-click="fetchUserInfo()" />

  <p ng-show="reputationScore.reputation_score > 0">
    <span>Reputation score: {{reputationScore.reputation_score | number:2}}pts</span>
  </p>
  <p ng-show="selectedUserProfile">
  	<span>{{selectedUserProfile.name}} {{selectedUserProfile.location}} {{selectedUserProfile.created_at}}</span>
  </p>
  <p ng-show="selectedUserProfile.errors">
    <span>Could not load {{selectedUser}}&#39;s profile.</span>
  </p>
  <span ng-show="selectedUserTweets.length == 0">No tweets for this user.</span>
  <span ng-show="selectedUserTweets.length > 0">Tweets ({{selectedUserTweets.length}})</span>
  <p ng-repeat="tweet in selectedUserTweets">
  	<!--span>{{tweet.text}} {{tweet.created_at}}</span-->
    <tweet text="tweet.text" date="tweet.created_at" picture="tweet.entities.media[0].media_url" retweets="tweet.retweet_count"></tweet>
  </p>
</div>
