<div class="hero-unit">
  <input type="text" ng-model="selectedUser" placeholder="Twitter handle"/>
  <input type="number" ng-model="numberOfTweets" placeholder="Max # of tweets" />
  <input type="button" value="Search" ng-disabled="selectedUser == ''" ng-click="fetchUserInfo()" />
  
  <p ng-show="selectedUserProfile">
  	<span>{{selectedUserProfile.name}} {{selectedUserProfile.location}} {{selectedUserProfile.created_at}}</span>
  </p>
  <span ng-show="selectedUserTweets.length > 0">Tweets</span>
  <p ng-repeat="tweet in selectedUserTweets">
  	<span>{{tweet.text}} {{tweet.created_at}}</span>
  </p>
</div>
